-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: localhost    Database: selab
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin_data`
--

DROP TABLE IF EXISTS `admin_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_data` (
  `admin_id` varchar(10) NOT NULL,
  `name` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  PRIMARY KEY (`admin_id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_data`
--

LOCK TABLES `admin_data` WRITE;
/*!40000 ALTER TABLE `admin_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cultural_events_data`
--

DROP TABLE IF EXISTS `cultural_events_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cultural_events_data` (
  `cultural_event_id` varchar(20) NOT NULL,
  `student_roll_number` varchar(20) DEFAULT NULL,
  `category` varchar(50) DEFAULT NULL,
  `event_name` varchar(100) DEFAULT NULL,
  `location` varchar(100) DEFAULT NULL,
  `event_date` date DEFAULT NULL,
  `awards` varchar(100) DEFAULT NULL,
  `description` text,
  `proof` varchar(255) DEFAULT NULL,
  `approved` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`cultural_event_id`),
  KEY `fk_student_roll_cul` (`student_roll_number`),
  CONSTRAINT `fk_student_roll_cul` FOREIGN KEY (`student_roll_number`) REFERENCES `students_data` (`roll_number`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cultural_events_data`
--

LOCK TABLES `cultural_events_data` WRITE;
/*!40000 ALTER TABLE `cultural_events_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `cultural_events_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `faculty_data`
--

DROP TABLE IF EXISTS `faculty_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `faculty_data` (
  `faculty_id` varchar(20) NOT NULL,
  `name` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`faculty_id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `faculty_data`
--

LOCK TABLES `faculty_data` WRITE;
/*!40000 ALTER TABLE `faculty_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `faculty_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `internship_data`
--

DROP TABLE IF EXISTS `internship_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `internship_data` (
  `internship_id` varchar(20) NOT NULL,
  `student_roll_number` varchar(20) DEFAULT NULL,
  `company` varchar(100) DEFAULT NULL,
  `role` varchar(100) DEFAULT NULL,
  `description` text,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `location` varchar(100) DEFAULT NULL,
  `stipend` int DEFAULT NULL,
  `offer_letter` varchar(255) DEFAULT NULL,
  `approved` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`internship_id`),
  KEY `fk_student_roll_intern` (`student_roll_number`),
  CONSTRAINT `fk_student_roll_intern` FOREIGN KEY (`student_roll_number`) REFERENCES `students_data` (`roll_number`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `internship_data`
--

LOCK TABLES `internship_data` WRITE;
/*!40000 ALTER TABLE `internship_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `internship_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `placements_data`
--

DROP TABLE IF EXISTS `placements_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `placements_data` (
  `placement_id` varchar(20) NOT NULL,
  `student_roll_number` varchar(20) DEFAULT NULL,
  `company` varchar(100) DEFAULT NULL,
  `location` varchar(100) DEFAULT NULL,
  `role` varchar(100) DEFAULT NULL,
  `ctc` int DEFAULT NULL,
  `description` text,
  `joining_date` date DEFAULT NULL,
  `core` tinyint(1) DEFAULT NULL,
  `hiring_mode` varchar(20) DEFAULT NULL,
  `offer_letter` varchar(255) DEFAULT NULL,
  `approved` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`placement_id`),
  KEY `fk_student_roll_place` (`student_roll_number`),
  CONSTRAINT `fk_student_roll_place` FOREIGN KEY (`student_roll_number`) REFERENCES `students_data` (`roll_number`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `placements_data`
--

LOCK TABLES `placements_data` WRITE;
/*!40000 ALTER TABLE `placements_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `placements_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `research_papers`
--

DROP TABLE IF EXISTS `research_papers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `research_papers` (
  `paper_id` varchar(10) NOT NULL,
  `student_roll_number` varchar(20) DEFAULT NULL,
  `title` text,
  `authors` text,
  `affiliations` text,
  `orcid_id` varchar(30) DEFAULT NULL,
  `abstract` text,
  `intro` text,
  `review` text,
  `methodology` text,
  `result` text,
  `discussion` text,
  `conclusions` text,
  `journal_name` text,
  `volume_issue` varchar(20) DEFAULT NULL,
  `doi` varchar(50) DEFAULT NULL,
  `license` varchar(50) DEFAULT NULL,
  `bibliography` text,
  `approved` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`paper_id`),
  KEY `fk_student_roll_re` (`student_roll_number`),
  CONSTRAINT `fk_student_roll_re` FOREIGN KEY (`student_roll_number`) REFERENCES `students_data` (`roll_number`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `research_papers`
--

LOCK TABLES `research_papers` WRITE;
/*!40000 ALTER TABLE `research_papers` DISABLE KEYS */;
/*!40000 ALTER TABLE `research_papers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `societies_clubs`
--

DROP TABLE IF EXISTS `societies_clubs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `societies_clubs` (
  `club_id` varchar(20) NOT NULL,
  `student_roll_number` varchar(20) DEFAULT NULL,
  `category` varchar(50) DEFAULT NULL,
  `name` varchar(100) DEFAULT NULL,
  `membership_type` varchar(50) DEFAULT NULL,
  `description` text,
  `proof` varchar(255) DEFAULT NULL,
  `approved` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`club_id`),
  KEY `fk_student_roll_sport` (`student_roll_number`),
  CONSTRAINT `fk_student_roll_sport` FOREIGN KEY (`student_roll_number`) REFERENCES `students_data` (`roll_number`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `societies_clubs`
--

LOCK TABLES `societies_clubs` WRITE;
/*!40000 ALTER TABLE `societies_clubs` DISABLE KEYS */;
/*!40000 ALTER TABLE `societies_clubs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sports_events`
--

DROP TABLE IF EXISTS `sports_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sports_events` (
  `sport_id` varchar(20) NOT NULL,
  `student_roll_number` varchar(20) DEFAULT NULL,
  `category` varchar(50) DEFAULT NULL,
  `participation_type` varchar(50) DEFAULT NULL,
  `location` varchar(100) DEFAULT NULL,
  `date` date DEFAULT NULL,
  `awards` varchar(100) DEFAULT NULL,
  `description` text,
  `proof` varchar(255) DEFAULT NULL,
  `approved` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`sport_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sports_events`
--

LOCK TABLES `sports_events` WRITE;
/*!40000 ALTER TABLE `sports_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `sports_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `students_data`
--

DROP TABLE IF EXISTS `students_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `students_data` (
  `roll_number` varchar(20) NOT NULL,
  `name` varchar(100) NOT NULL,
  `department` varchar(50) NOT NULL,
  `section` char(1) NOT NULL,
  `FA` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  PRIMARY KEY (`roll_number`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `students_data`
--

LOCK TABLES `students_data` WRITE;
/*!40000 ALTER TABLE `students_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `students_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `technical_events_data`
--

DROP TABLE IF EXISTS `technical_events_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `technical_events_data` (
  `event_id` varchar(20) NOT NULL,
  `student_roll_number` varchar(20) DEFAULT NULL,
  `category` varchar(50) DEFAULT NULL,
  `event_name` varchar(100) DEFAULT NULL,
  `event_date` date DEFAULT NULL,
  `location` varchar(100) DEFAULT NULL,
  `awards` varchar(100) DEFAULT NULL,
  `description` text,
  `proof` varchar(255) DEFAULT NULL,
  `approved` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`event_id`),
  KEY `fk_student_roll` (`student_roll_number`),
  CONSTRAINT `fk_student_roll` FOREIGN KEY (`student_roll_number`) REFERENCES `students_data` (`roll_number`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `technical_events_data`
--

LOCK TABLES `technical_events_data` WRITE;
/*!40000 ALTER TABLE `technical_events_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `technical_events_data` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-03-20 13:37:22
